html,
body {
  font-family: "Montserrat", sans-serif;
}

// start header
.hs-header {
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  overflow-x: hidden;

  &-wrapp {
    width: 100%;
    flex-grow: 0;
    justify-content: space-around;
  }

  &-nav {
    &__link {
      display: inline-block;
      background-color: #8cc53d;
      color: #fff;
      font-size: 0.9375rem;
      font-weight: 600;

      &--why {
        font-size: 0.75rem;
        // line-height: 15px;
        letter-spacing: 0.1em;
      }

      &--hover {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px 20px;
        z-index: 1;

        @media screen and(max-width: 1200px) {
          left: 25%;
          transform: translateX(-75%);
        }
      }
    }
  }

  &-menu {
    &__link {
      color: #000;
      font-weight: 500;
      font-size: 0.875rem;
      transition: 0.3s;

      &:active,
      &:focus {
        text-shadow: #29138b;
      }

      &:hover {
        color: #305c2d;
      }
    }
  }

  &-drop {
    &__btn {
      font-size: 0.75rem;
    }
  }
}
// end header

// start hero
.hs-hero {
  height: 100vh;
  overflow-x: hidden;
  background: {
    color: #c1c1c1;
    image: url("../img/heroBg.png"), url("https://i.ibb.co/xmnm5yZ/snail-Bg-min.jpg");
    repeat: no-repeat;
    size: cover;
    position: bottom right, top;
  }

  &-desc {
    padding: 12.25rem 0 0 12.25rem;

    &__title {
      font-size: 3.25rem;
      line-height: 68px;
      font-weight: 500;

      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0;
        height: 1px;
        width: 163px;
        background-color: #fff;
      }
    }

    &__text {
      font-size: 1rem;
      line-height: 24px;
      color: #e7e7e7;
    }

    @media screen and(max-width: 660px) {
      padding: 6rem 3rem;
      &__title {
        font-size: 2.5rem;
      }
    }
  }

  &__link {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #305c2d;
    clip-path: circle(69% at 52% 165%);
    background-color: #fff;
    padding: 40px 40px 0 40px;

    &::before {
      position: relative;
      content: url("../img/arrow.png");
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover {
      color: inherit;
      text-decoration: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    @media screen and(max-width: 660px) {
      padding: 40px 20px 0 20px;
    }
  }
}

// start about article
.hs-about {
  padding: 5.875rem 0 6.25rem;
  color: #305c2d;
  overflow-x: hidden;

  &-desc {
    max-width: 587px;
    margin: 0 auto;

    &__title {
      font-size: 2.875rem;
      line-height: 56px;
      margin-bottom: 90px;

      &::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 60px;
        background-color: #305c2d;
        border-radius: 5px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -72px;
      }

      &--why {
        &::after {
          background-color: #fff;
        }
        @media screen and(max-width: 900px) {
          margin-bottom: 0;
        }
      }
    }

    &__tagline {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 27px;
    }

    &__text {
      font-size: 1rem;
      line-height: 27px;
      color: #7b7b7b;

      &--services {
        color: #305c2d;
        font-size: 1.125rem;
        line-height: 27px;
        font-weight: 500;
      }
    }

    &--why {
      margin-bottom: 75px;
    }
  }

  &-card {
    margin-top: 115px;
    &-wrapp {
      max-width: 263px;
      min-height: 240px;
      padding-bottom: 1.625rem;
      background: {
        image: url("../img/cardBg.png");
        position: bottom;
        repeat: no-repeat;
      }
    }

    &-item {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 35px;
        background-color: #305c2d;
        border-radius: 5px;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &-desc {
      margin-top: 70px;

      &__text {
        font-size: 1.125rem;
        line-height: 24px;
        font-weight: 500;
      }
    }
  }
}

// start article hs-why-us

.hs-why-us {
  padding: 150px 0 253px;
  color: #305c2d;
  overflow-x: hidden;
  background: {
    image: url("../img/bg.png");
    size: 100% 100%;
    repeat: no-repeat;
  }

  &-category {
    margin-bottom: 56px;
    &-item {
      position: relative;
      &__text {
        font-size: 1rem;
        line-height: 27px;
        color: #646464;
      }

      &::after {
        position: absolute;
        content: "01";
        font-size: 8.75rem;
        font-weight: 500;
        line-height: 171px;
        left: 50%;
        top: -37px;
        transform: translateX(-50%);
        color: rgba(0, 0, 0, 0.04);
        text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.49);
      }

      &--shield {
        &::after {
          content: "02";
        }
      }

      &--investment {
        &::after {
          content: "03";
        }
      }

      &--car {
        &::after {
          content: "04";
        }
      }

      @media screen and(max-width: 500px) {
        font-size: 0.875rem;
      }
    }

    &-title {
      &__text {
        font-size: 1.25rem;
        line-height: 24px;
        font-weight: 500;
      }
    }

    &-icon {
      margin-right: 15px;
      &__item {
        width: 66px;
        height: 66px;
      }
    }

    &:last-child {
      margin-top: 56px;
      margin-bottom: 0;
    }

    @media screen and(max-width: 900px) {
      flex-direction: column;
      &-title {
        justify-content: center;
      }
    }
  }

  // &::before {
  //   position: absolute;
  //   content: "";
  //   background-image: url("../img/bg.png");
  //   background-size: cover;
  //   top: 0;
  //   bottom: -170px;
  //   left: 0;
  //   right: 0;
  //   pointer-events: none;
  // }
}

// start services

.hs-services {
  color: #305c2d;
  overflow-x: hidden;

  &-slide {
    margin-top: 47px;
  }

  &-card {
    padding: 32px 48px 55px;
    min-height: 426px;
    transition: 1s ease-in-out;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    background: {
      color: #fff;
      image: url("https://i.ibb.co/H7Nfzb8/services-Card-Slide1-min.png");
      repeat: no-repeat;
      size: cover;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 600;

      &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 65px;
        width: 2px;
        height: 60px;
        background: #305c2d;
        border-radius: 5px;

        @media screen and(max-width: 1200px) {
          left: 50%;
        }
      }
    }

    &-menu {
      margin-top: 80px;

      &__item {
        font-size: 1rem;
        line-height: 24px;
        font-weight: 500;
        color: #000;
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    // hover card
    &-hover {
      padding: 15px;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0;
      transition: 1s ease-in-out;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
      background: {
        color: #fff;
        image: url("https://i.ibb.co/k8yS9NJ/services-Hover-Card-min.png");
        repeat: no-repeat;
        size: cover;
      }

      &::after {
        content: "";
        width: 90%;
        height: 93%;
        background-color: rgba(255, 255, 255, 0.459);
        position: absolute;
        left: 15px;
        top: 15px;

        @media screen and(max-width: 1200px) {
          width: 93%;
        }
      }
    }

    &:hover {
      transform: rotateY(180deg);
    }

    &:hover .hs-services-card-hover {
      z-index: 3;
      opacity: 1;
      transform: rotateY(180deg);
    }

    &--snailes {
      background-image: url("https://i.ibb.co/3TP33sM/snailes.png");
    }

    @media screen and(max-width: 1200px) {
      margin-bottom: 20px;
      text-align: center;
    }
  }
}

// start aricle tehnology

.hs-tehnology {
  color: #305c2d;
  overflow-x: hidden;
  padding-top: 250px;
  padding-bottom: 200px;
  background: {
    image: url("../img/tehnologyBgCopy.png");
    size: cover;
    repeat: no-repeat;
    color: #f4f4f4;
  }

  &-item {
    margin-top: 48px;
  }

  &-icon {
    width: 69px;
    height: 69px;
    margin-bottom: 15px;

    &__item {
      width: 69px;
      height: 69px;

      &--growth {
        width: 35px;
        height: 34px;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
      }

      &__title {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 24px;
      }

      &__text {
        font-size: 1rem;
        line-height: 27px;
        color: #646464;
      }
    }
  }

  &-content {
    margin-top: 115px;

    &-desc {
      &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 25px;
      }

      &__text {
        font-size: 1rem;
        line-height: 24px;
        color: #7b7b7b;
      }

      &__link {
        font-size: 0.75rem;
        line-height: 15px;
        left: 100px;
        bottom: 0;
        color: #305c2d;
        transition: 0.3s;
        font-weight: 600;
        letter-spacing: 0.1em;

        &:active,
        &:focus {
          color: rgba(21, 21, 136, 0.486);
        }

        &:hover {
          text-decoration: none;
          color: #000;
        }

        &:hover::before {
          width: 80px;
        }

        &::before {
          content: "";
          position: absolute;
          width: 60px;
          height: 2px;
          border-radius: 5px;
          background-color: #305c2d;
          left: -84px;
          top: 5px;
          transition: 0.3s ease-in-out;
        }
      }

      @media screen and(max-width: 1200px) {
        margin-top: 30px;
        text-align: center;
        width: 100%;
        max-width: 800px;
        margin: 50px auto 0;

        &__title {
          margin-bottom: 10px;
        }

        &__link {
          left: 50%;
          transform: translateX(-50%);
          bottom: -20px;
        }
      }
    }
  }

  &-movie {
    &__item {
      width: 550px;
      height: 339px;
    }

    @media screen and(max-width: 1200px) {
      display: flex;
      justify-content: center;
    }
  }

  // &::before {
  //   position: absolute;
  //   content: "";
  //   background-image: url("../img/tehnologyBg.png");
  //   background-size: cover;
  //   top: 0;
  //   bottom: -459px;
  //   left: 0;
  //   right: 0;
  //   pointer-events: none;
  // }
}

// section cotact
.hs-contact {
  background: {
    image: url("../img/vectorFormBg.png");
    repeat: no-repeat;
    size: cover;
    color: #f4f4f4;
  }
  padding-top: 250px;
  padding-bottom: 92px;
  color: #305c2d;
  overflow-x: hidden;

  &-title {
    &__item {
      font-size: 2.875rem;
      font-weight: 500;
      line-height: 56px;
    }

    @media screen and(max-width: 809px) {
      text-align: center;
    }
  }

  &-form {
    &-input {
      margin-top: 35px;
      &__item {
        max-width: 250px;
        border-bottom: 1px solid #305c2d;
        padding: 10px;
        font-size: 0.975rem;
        font-weight: 500;
        margin-right: 50px;

        &::placeholder {
          color: #305c2d;
          font-weight: 600;
        }
      }

      &__btn {
        color: #fff;
        letter-spacing: 0.1em;
        font-size: 0.75rem;
        background-color: #305c2d;
        font-weight: 600;
        padding: 15px 50px;
        border: 1px solid transparent;
        transition: 0.3s;

        &:hover {
          color: #305c2d;
          border-color: #305c2d;
          background-color: transparent;
        }
      }

      @media screen and(max-width: 809px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__item {
          margin-right: 0;
        }

        &__btn {
          display: inline-block;
          margin-top: 20px;
        }
      }
    }
  }
}

.hs-footer {
  padding: 58px 0 60px;
  overflow-x: hidden;
  background-color: #fff;

  &-social {
    &-icon {
      margin-top: 16px;
      &__img {
        &--insta {
          top: 4px;
        }
      }
    }
  }

  &-menu {
    &__link {
      padding: 0;
      font-size: 0.875rem;
      line-height: 28px;
      color: #000;
      transition: 0.3s;

      &--padBot {
        padding-bottom: 1rem;
      }

      &:hover {
        color: #305c2d;
      }
    }

    @media screen and(max-width: 991px) {
      align-items: center;
      margin-bottom: 30px;
    }
  }
}
// test
// article.hs-tehnology:before {
//     content: '';
//     position: absolute;
//     top: -200px;
//     display: block;
//     left: 0;
//     width: 100%;
//     height: 422px;
//     background-image: url(../img/cardBgVector.png), linear-gradient(180deg, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 86%, rgba(244,244,244,1) 46%);
//     background-size: cover;
// }

// pointer-events: none;
//     position: absolute;
//     top: -48%;
//     background-image: linear-gradient(160deg, rgba(255,255,255,0) 54%, #f4f4f4 54%);
//     background-size: 100%;
