$success: #305c2d;
$primary: #fff;

.hs-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hs-hidden {
  position: absolute;
  left: -9999999px;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
