$success: #305c2d;
$primary: #fff;

.hs-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &--about {
    padding: 0 2.5rem;
  }

  &--why {
    padding: 0 40px;
  }

  &--services {
    padding: 0 40px;
  }

  &--footer {
    padding: 0 40px;
  }
}

.hs-hidden {
  position: absolute;
  left: -9999999px;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
